.results-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.no-results-msg {
  text-align: center;
  margin-top: 10rem;
  padding: 0 20px;
}

.faded {
  opacity: 0.05;
  overflow: hidden;
}

.loading-spinner {
  margin: 0 auto;
  margin-top: 10rem;
  border: 3px solid var(--color-highlight-dark);
  border-top: 3px solid var(--color-highlight-light);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.7s linear infinite;
}

.error-icon {
  margin-right: 5px;
  color: var(--color-error);
}

.sort-heading {
  text-align: left;
  margin-left: 10px;
  margin-top: 7px;
}

.sort-button {
  cursor: pointer;
  color: var(--color-icon-details);
}

.sort-button:hover {
  color: var(--color-highlight-dark);
  transition: 0.3s;
}

.sort-label {
  margin-left: 10px;
  color: var(--color-text-secondary);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
