.show-card {
  position: relative;
  display: flex;
  column-gap: 10px;
  text-align: left;
  align-items: flex-start;
  box-shadow: 0 4px 6px -4px var(--color-highlight-dark);
  padding: 10px;
  margin: 10px;
}

.faded {
  opacity: 0.1;
}

.show-poster-wrapper {
  margin-top: 5px;
  width: 50px;
  height: fit-content;
}

.show-poster {
  width: 100%;
  height: 55px;
  border-radius: 6px;
  box-shadow: 4px 0px 13px var(--color-background-main);
}

.show-details {
  width: 100%;
  margin: 2px 0;
}

.premiere-date {
  font-weight: normal;
}

.show-info {
  display: flex;
  margin: 2px 0;
}

.show-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.show-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: calc(100% - 30px);
}

.show-rating {
  margin-right: 15px;
}

.show-rating-icon,
.show-runtime-icon {
  margin-right: 5px;
}

.show-rating-icon {
  color: var(--color-icon-rating);
}

.show-runtime-icon {
  color: var(--color-icon-runtime);
}

.show-summary {
  margin-top: 10px;
}

.show-summary-button {
  color: var(--color-text-main);
  cursor: pointer;
}

.show-summary-button:hover {
  color: var(--color-highlight-dark);
  transition: 0.3s;
}

.show-genres-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
