.settings-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: inherit;
  box-shadow: 0 4px 6px -4px var(--color-highlight-dark);  
}

.settings-menu-header {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  background-color: var(--color-background-nav); 
  box-shadow: 0 1px 5px -4px;
}

.settings-menu-title {
  position: relative;
  right: -10px;
  font-weight: normal;
}

.settings-menu-title,
.settings-menu-button {
  margin-left: auto;
}

.settings-menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 14px 15px;
  width: 100%;
  border: none;
  background-color: inherit;
  color: inherit;
}

.settings-menu-item-icon-wrapper {
  min-width: 22px;
}

.settings-menu-item-icon {
  margin-right: 10px;
  color: var(--color-button-added);
}

.settings-menu-item:hover {
  background-color: var(--color-background-hover);
  transition: 0.2s;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  font-size: 11px;
}

.credit-link {
  color: var(--color-link-external);
}
