:root {
  --color-background-main: #282c34;
  --color-background-hover: #20232a;
  --color-background-nav: #181c22;
  --color-text-main: #ffffff;
  --color-text-secondary: #add8e6;
  --color-highlight-dark: #add8e6;
  --color-highlight-light: #ffffff;
  --color-button-add: #ffffff;
  --color-button-added: #90ee90;
  --color-button-delete: #808080;
  --color-icon-rating: #ffa500;
  --color-icon-bell: #ffa500;
  --color-icon-runtime: #ffffff;
  --color-icon-calendar: #ffffff;
  --color-icon-details: #ffffff;
  --color-faded: #808080;
  --color-status: #d3d3d3;
  --color-link-external: #5d94f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background-main: #f6f6f6;
    --color-background-nav: #e0e0e0;
    --color-background-hover: #e6e6e6;
    --color-text-main: #292929;
    --color-text-secondary: #777777;
    --color-highlight-dark: #68a0bd;
    --color-icon-runtime: #aaa5a5;
    --color-icon-calendar: #68a0bd;
    --color-icon-details: #939393;
    --color-button-add: #7ac7e1;
    --color-button-added: #37c537;
    --color-button-delete: #aaa5a5;
    --color-faded: #add8e6;
  }
}
