.navigation-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 5px;
  box-shadow: 0 1px 5px -4px;
  background-color: var(--color-background-nav);
}

.navigation-button {
  position: relative;
  right: -5px;
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

.navigation-button.active,
.notify-icon.active {
  color: var(--color-text-main);
}

.navigation-button.not-active,
.notify-icon.not-active {
  color: var(--color-text-secondary);
}

.navigation-button:hover {
  color: var(--color-text-main);
  transition: 0.7s;
}

.notify-icon {
  margin-right: 10px;
}
