.search-bar {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  border: 2px solid var(--color-highlight-dark);
  border-radius: 20px;
  padding: 3px 8px;
}

.search-icon {
  color: var(--color-faded);
  position: absolute;
  right: 10px;
  top: 6px;
}
